.container {
  z-index: 1;
  margin: 0;
  color: white;
  position: relative;
  text-align: center;
}
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #2a0080;
  transform: translate(-50%, -50%);
  font-size: 1.8rem;
  text-align: center;
}

.video {
  position: relative;
  width: 100%;
  height: 1024px;
  object-fit: cover;
}
.button-container {
  margin-left: 20px;
  margin-right: 20px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.button {
  text-decoration: none;
  border-radius: 50px;
  background: #b38600;
  white-space: nowrap;
  padding: 12px 40px;
  color: #2a0080;
  font-size: 20px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.button:hover {
  transition: all 0.2s ease-in-out;
  background-color: #e6ac00;
}
