.body-container {
  margin-top: -4px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  position: relative;
  height: auto;
  width: 100%;
  background-color: purple;
  justify-content: center;
  align-items: center;
}

.cards {
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
