.body-container {
  margin-top: -4px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  position: relative;
  height: auto;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#00b3b3, #004d4d);
}

.cards {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projects-title {
  color: #2a0080;
  margin-right: 130px;
  font-size: 5rem;
  margin-left: 130px;
}
