.card-container {
  margin: 0;
  display: flex;
  color: white;
  width: 200px;
  height: 300px;
  padding: 50px;
}

.card figure {
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1s ease-in-out;
  transform-style: preserve-3d;
}

.card-container:hover .card {
  transform: rotateY(180deg);
}

.card .front {
  background-color: pink;
}

.card .back {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: purple;
  transform: rotateY(180deg);
}
.card .back a {
  margin: 0;
  padding-bottom: 20px;
}

.image {
  width: 200px;
  height: 100px;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.front p {
  margin: 0px;
}

.button {
  text-decoration: none;
  border-radius: 50px;
  background: purple;
  white-space: nowrap;
  padding: 12px 40px;
  color: black;
  font-size: 20px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.button:hover {
  transition: all 0.2s ease-in-out;
  background-color: pink;
}

.card .back a:hover {
  transition: all 0.2s ease-in-out;
  background-color: pink;
}
