.card-container {
  margin: 0;
  display: flex;
  color: white;
  width: 200px;
  height: 300px;
  padding: 50px;
  transition: all 300ms;
}

.card figure {
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
  transform-style: preserve-3d;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.15);
}

.card .front {
  transition-delay: 0.3s;
  background-color: #262626;
}

.card .back {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #262626;
}
.card .back a {
  font-size: 1rem;
}

.card .back .button-container {
  display: flex;
  height: 150px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.image {
  width: 100%;
  height: 100px;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.front p {
  pointer-events: none;
  color: #ccb3ff;
  margin: 0px;
  padding: 15px;
  font-size: 0.9rem;
}

.front h1 {
  color: #9966ff;
  margin: 0px;
  padding: 10px;
  font-size: 1.2rem;
}

.button {
  text-align: center;
  width: 120px;
  box-sizing: border-box;
  text-decoration: none;
  border-radius: 40px;
  background: #b38600;
  white-space: nowrap;
  padding: 12px 40px;
  color: black;
  font-size: 20px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
