.skillcards {
  margin: 0;
  display: grid;
  height: 400px;
  width: 100px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 100px;
}
.skillcard {
  background-color: #1c1b29;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
  transition: all 400ms;
}

/* .skillcard:hover {
  transform: scale(1.1);
} */
.skillcard-container {
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
.skillcard-img {
  width: 100%;
  height: 160px;
  display: block;
  border-radius: 20px 20px 0 0;
}

.details {
  display: grid;
  justify-content: center;
  padding: 20px 10px;
}
.details > h3 {
  color: #9966ff;
  font-weight: 600;
  font-size: 18px;
  margin: 10px 0 15px 0;
}
.details > p {
  color: #ccb3ff;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
}
