.footer-container {
  display: flex;
  background-color: #003330;
  height: 154px;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content {
  margin: 0;
  padding: 10px;
}

.footer-container h1 {
  color: #9966ff;
}

.footer-container h3 {
  color: #ccb3ff;
}
