.footer-container {
  display: flex;
  background-color: white;
  height: 150px;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content {
  margin: 0;
  padding: 10px;
}
